<div class="center-div">

  <div class="ui input">
    <h2>Name</h2><br>
  </div>
  <div class="ui input">
    <h2>Descriptif</h2><br>
  </div>
  <div class="ui input">
    <h2>startDate</h2><br>
  </div>
  <div class="ui input">
    <h2>dueDate</h2><br>
  </div>
</div>

{{outlet}}